.main-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.child-container-l1, .footer{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.142);
}
